.stApp{
    background:#0E1117;
}

h1{
    color:white;
}

.metric-card{

    background:#1E2130;

    padding:20px;

    border-radius:12px;

    box-shadow:0px 0px 12px rgba(0,0,0,.3);

    text-align:center;

}